<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>portfolio</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>

    <div class="portfolio">
        <div class="porta-title" align="center">
          <h2>My Portfolio</h2>
          <div class="divider"></div>
          <br>
         <div class="container-card">
        
        <div class="card">
          <figure>
            <img src="./static/images/PROGREEN.png">
          </figure>
          <div class="contenido-card">
            <h3>Programming Projects</h3>
            <p>Student-level programs; related to html, css, python and databases.</p>
            <a href="#">More</a>
          </div>
        </div>
        <div class="card">
          <figure>
            <img src="./static/images/BPM.jpg">
          </figure>
          <div class="contenido-card">
            <h3>Business Process Management</h3>
            <p>I can define, map and apply continuous improvement tools to any business process. Process optimization is vital for any company.</p>
            <a href="https://drive.google.com/file/d/1JYnbPlLHiCr4yboCzktc2jDN3lRTtpnZ/view?usp=sharing">More</a>
          </div>
        </div>
        <div class="card">
          <figure>
            <img src="./static/images/INVEST.jpg">
          </figure>
          <div class="contenido-card">
            <h3>Financial/Economic/Social Research</h3>
            <p>I can work as an assistant researcher in economics, fiscal and monetary policies, and in social areas.</p>
            <a href="https://www.bcr.gob.sv/bcrsite/uploaded/content/category/2006459397.pdf">More</a>
          </div>
        </div>
  
  
        </div>
      </div>
  
  
      </div>
    </div>


</body>
</html>